<mat-progress-bar mode="indeterminate" *ngIf="enable_progress" color="warn"></mat-progress-bar>
<div class="container-fluid">
  <div class="pt-3" *ngIf="company">
    <mat-card>
      <mat-card-title>
        Controllers
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-4">
            <button mat-raised-button color="primary" (click)="updateFundamentus()">Update Fundamentus</button>
          </div>
          <div class="col-4">
            <button mat-raised-button color="primary" (click)="updateStock()">Update Stock</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="pt-3" *ngIf="company">
    <mat-card>
      <div class="row">
        <div matLine class="col-6">{{company.name}}</div>
        <div matLine class="col-6">
          Last Negociation: {{company.last_stock.date | date}}
          <span class="badge badge badge-success">{{company.last_stock.close | currency:'R$':true:'1.2'}}</span>
        </div>
      </div>
      <div class="row">
        <div matLine class="col-6" style="color: darkgray">{{company.code}}</div>
        <div matLine class="col-6">No stock {{company.last_indicator.stock_no | number:'1.0'}}</div>
      </div>
    </mat-card>
  </div>

  <div class="pt-3" *ngIf="company">
    <mat-card>
      <mat-card-title>
        {{company.last_indicator.release_date | date}}
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-2">
            <mat-list>
              <mat-list-item> P/L </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> P/VP </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> P/EBIT </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> PSR </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> P/Ativos </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> P/Cap. Giro </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> P/Ativ. Cirq. Liq. </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Div. Yeld </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Ev/ EBIT </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Giro Ativos </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Cresc. Rec. (5a) </mat-list-item>
            </mat-list>
          </div>
          <div class="col-2">
            <mat-list>
              <mat-list-item> {{company.last_indicator.pl}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.pvp}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.pebit}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.psr}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.at}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.pcg}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.p_ativ_circ_liq}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.div_yield}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ev_ebit}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.giro_ativ}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.cresc_rec_5_a}} %</mat-list-item>
            </mat-list>
          </div>
          <div class="col-2">
            <mat-list>
              <mat-list-item> LPA </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> VPA </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Marg. Bruta </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Marg. EBIT </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Marg. Líquida </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> EBIT/Ativo </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> ROIC </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> ROE </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Liquidez Corr </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Div. Br/Patrim </mat-list-item>
            </mat-list>
          </div>
          <div class="col-2">
            <mat-list>
              <mat-list-item> {{company.last_indicator.lpa}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.vpa}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.mb}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.me}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ml}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ebita}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.roic}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.roe}} %</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.liquidez_corr}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.div_br_patrim}} </mat-list-item>
            </mat-list>
          </div>
          <div class="col-2">
            <mat-list>
              <mat-list-item> Ativo </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Disponibilidades </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Ativo circulante </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Dívida Bruta </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Dívida Líquida </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Patrim. Líquido </mat-list-item>
            </mat-list>
          </div>
          <div class="col-2">
            <mat-list>
              <mat-list-item> {{company.last_indicator.ativo}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.disponibilidades}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ativo_circulante}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.div_bruta}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.div_liquida}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.patr_liquido}} </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="pt-3" *ngIf="company">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Demonstrativos de resultados
        </mat-card-title>
      </mat-card-header>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          Últimos 12 meses
        </div>
        <div class="col-md-6 col-sm-12">
          Últimos 3 meses
        </div>
      </div>

      <mat-card-content>
        <div class="row">
          <div class="col-3">
            <mat-list>
              <mat-list-item> Receita Líquida </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> EBIT </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Lucro Líquido </mat-list-item>

            </mat-list>
          </div>
          <div class="col-3">
            <mat-list>
              <mat-list-item> {{company.last_indicator.receita_liquida_12_meses}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ebit_12_meses}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.lucro_liquido_12_meses}} </mat-list-item>
            </mat-list>
          </div>
          <div class="col-3">
            <mat-list>
              <mat-list-item> Receita Líquida </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> EBIT </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> Lucro Líquido </mat-list-item>
            </mat-list>
          </div>
          <div class="col-3">
            <mat-list>
              <mat-list-item> {{company.last_indicator.receita_liquida_3_meses}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.ebit_3_meses}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item> {{company.last_indicator.lucro_liquido_3_meses}} </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
