<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="side"
    [opened]="false">
    <mat-toolbar color="primary">Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="drawer.toggle()">
        <mat-icon matListIcon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/order" (click)="drawer.toggle()">
        <mat-icon matListIcon>sort</mat-icon>
        Order
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stock</span>
      <span class="example-spacer"></span>
      <!--<div fxShow="true" fxHide.lt-md="true">-->
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <mat-menu #appMenu="matMenu" yPosition="below">
          <button mat-menu-item *ngIf="!hasAuthToken()" routerLink="/signin">Login</button>
          <button mat-menu-item *ngIf="hasAuthToken()" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
