<mat-progress-bar mode="indeterminate" *ngIf="enable_progress" color="warn"></mat-progress-bar>
<div class="container-fluid">
  <div class="pt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            Orders Registered
          </mat-card-title>
        </mat-card-title-group>
        <div fxFlex></div>
        <a mat-mini-fab routerLink="/order/new">
          <mat-icon aria-label="New order">add</mat-icon>
        </a>
      </mat-card-header>

      <mat-card-content *ngIf="orders">
        <mat-list>
          <mat-list-item *ngFor="let order of orders ; last as isLast;">
            <a matLine routerLink="/order/{{order.id}}"> {{order.name}} </a>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
