<mat-progress-bar mode="indeterminate" *ngIf="enable_progress" color="warn"></mat-progress-bar>
<div class="container-fluid">
  <div class="pt-3">
    <mat-card  >
      <mat-card-header>
          <mat-card-title *ngIf="order">
            {{order.id}} # {{order.name}}
          </mat-card-title>
        <mat-card-title *ngIf="!order">
          Nova ordem
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <form [formGroup]="orderForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <mat-form-field hintLabel="Máx 50 car." class="pl-3 d-block">
                <input matInput #input maxlength="50" placeholder="Nome"
                       formControlName="name">
              </mat-form-field>
            </div>
          </div>

          <mat-card-header class="pt-4">
            <mat-card-title>
              Indicadores Fundamentalistas
            </mat-card-title>
          </mat-card-header>

          <!-- TODO: make input field fill the column -->
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="pl_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" min=0.0 step=0.01 matInput #input maxlength="10" placeholder="P/L"
                       formControlName="pl" [value]="orderForm.get('pl').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="pvp_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="P/VP"
                       formControlName="pvp" [value]="orderForm.get('pvp').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="pebit_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="P/EBIT"
                       formControlName="pebit"  [value]="orderForm.get('pebit').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="lpa_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="LPA"
                       formControlName="lpa" [value]="orderForm.get('lpa').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="vpa_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="VPA"
                       formControlName="vpa" [value]="orderForm.get('vpa').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="mb_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Marg. Bruta"
                       formControlName="mb" [value]="orderForm.get('mb').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="psr_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="PSR"
                       formControlName="psr" [value]="orderForm.get('psr').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="at_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="P/Ativos"
                       formControlName="at" [value]="orderForm.get('at').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="pcg_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="P/Cap. Giro"
                       formControlName="pcg" [value]="orderForm.get('pcg').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="me_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Marg. EBIT"
                       formControlName="me" [value]="orderForm.get('me').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="ml_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Marg. Líquida"
                       formControlName="ml" [value]="orderForm.get('ml').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="ebita_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="EBIT/Ativo"
                       formControlName="ebita" [value]="orderForm.get('ebita').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="p_ativ_circ_liq_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="P/Ativ. Cirq. Liq."
                       formControlName="p_ativ_circ_liq" [value]="orderForm.get('p_ativ_circ_liq').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="div_yield_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Div. Yeld"
                       formControlName="div_yield" [value]="orderForm.get('div_yield').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="ev_ebit_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Ev/ EBIT"
                       formControlName="ev_ebit" [value]="orderForm.get('ev_ebit').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="roic_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="ROIC"
                       formControlName="roic" [value]="orderForm.get('roic').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="roe_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="ROE"
                       formControlName="roe" [value]="orderForm.get('roe').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="liquidez_corr_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Liquidez Corr"
                       formControlName="liquidez_corr" [value]="orderForm.get('liquidez_corr').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="giro_ativ_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Giro Ativos"
                       formControlName="giro_ativ" [value]="orderForm.get('giro_ativ').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="div_br_patrim_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Div. Br/Patrim"
                       formControlName="div_br_patrim" [value]="orderForm.get('div_br_patrim').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="cresc_rec_5_a_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Cresc. Rec. (5a)"
                       formControlName="cresc_rec_5_a" [value]="orderForm.get('cresc_rec_5_a').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <mat-card-header class="pt-4">
            <mat-card-title>
              Balanço Patrimonial
            </mat-card-title>
          </mat-card-header>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="ativo_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Ativo"
                       formControlName="ativo" [value]="orderForm.get('ativo').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="disponibilidades_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Disponibilidades"
                       formControlName="disponibilidades" [value]="orderForm.get('disponibilidades').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="ativo_circulante_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Ativo circulante"
                       formControlName="ativo_circulante" [value]="orderForm.get('ativo_circulante').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="div_bruta_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Dívida Bruta"
                       formControlName="div_bruta" [value]="orderForm.get('div_bruta').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="div_liquida_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Dívida Líquida"
                       formControlName="div_liquida" [value]="orderForm.get('div_liquida').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-checkbox formControlName="patr_liquido_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Patrim. Líquido"
                       formControlName="patr_liquido" [value]="orderForm.get('patr_liquido').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <mat-card-header class="pt-4">
            <mat-card-title>
              Demonstrativos de resultados
            </mat-card-title>
          </mat-card-header>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              Últimos 12 meses
            </div>
            <div class="col-md-6 col-sm-12">
              Últimos 3 meses
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="receita_liquida_12_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Receita Líquida"
                       formControlName="receita_liquida_12_meses" [value]="orderForm.get('receita_liquida_12_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="receita_liquida_3_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Receita Líquida"
                       formControlName="receita_liquida_3_meses" [value]="orderForm.get('receita_liquida_3_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="ebit_12_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="EBIT"
                       formControlName="ebit_12_meses" [value]="orderForm.get('ebit_12_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="ebit_3_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="EBIT"
                       formControlName="ebit_3_meses" [value]="orderForm.get('ebit_12_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="lucro_liquido_12_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Lucro Líquido"
                       formControlName="lucro_liquido_12_meses" [value]="orderForm.get('lucro_liquido_12_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-checkbox formControlName="lucro_liquido_3_meses_checked"></mat-checkbox>
              <mat-form-field hintLabel="Max 100%" class="pl-3">
                <input type="number" step="0.01" matInput #input maxlength="10" placeholder="Lucro Líquido"
                       formControlName="lucro_liquido_3_meses" [value]="orderForm.get('lucro_liquido_3_meses').value | number:'1.3'">
              </mat-form-field>
            </div>
          </div>

          <div class="row pt-3 pr-3 d-flex flex-row-reverse">
            <button mat-raised-button color="primary" type="submit">Save</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
