/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

//https://www.amadousall.com/the-good-parts-of-bootstrap-4-you-are-missing-in-your-angular-material-projects/

$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//// Import Roboot
//@import "~bootstrap/scss/reboot";


* {
  &:active,
  :focus {
    outline: none !important;  // 1 Remove the blue outline on links, and buttons when they are active; or the focus is set on them.
  }
}

//label {
//  margin-bottom: 0; // 2 Remove the margin-bottom from the <label> HTML element.
//}


a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  color: #3f51b5; // 3 Use our primary color for all links that are not Angular Material elements.
  // Those have one of the following classes: .mat-button, mat-raised-button, mat-fab-button, mat-list-item, etc.

}
