<mat-card class="mat-card-content">
  <div class="mat-elevation-z8">
    <mat-card class="mat-card-title">
      <h3>Signin</h3>
    </mat-card>
    <mat-card class="mat-card-content">
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="example-container">
          <mat-form-field>
            <input matInput id="username" name="username" placeholder="Username" ngModel>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" id="password" name="password" placeholder="Password" ngModel>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Sign In</button>
        </div>
      </form>
    </mat-card>
  </div>
</mat-card>
