<div class="container-fluid">
  <div class="pt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Main Scrapping commands
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="left stretch" fxLayoutGap="20px">
          <button mat-raised-button color="primary" (click)="getCompanies()">Get Companies</button>
          <button mat-raised-button color="primary" (click)="updateCompaniesFundamentus()">Update Companies Fundamentus</button>
          <button mat-raised-button color="primary" (click)="updateCompaniesStock()">Update Companies Stock</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="pt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Ordering commands
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="left stretch" fxLayoutGap="20px">
          <button mat-raised-button color="primary" (click)="getOrderingCompanies()">Get Best</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

<div class="container-fluid pt-3" fxLayout fxLayoutAlign="center center">
  <mat-card *ngIf="companies">
    <mat-list>
      <mat-list-item *ngFor="let company of companies ; last as isLast;">
        <a matLine routerLink="/company/{{company.id}}"> {{company.name}} </a>
        <p matLine>
          <span style="color: darkgray">{{company.code}}</span>
        </p>
        <div fxLayout="column" fxLayoutAlign="center stretch">
          <!--<div>1</div>-->
          <!--<div>2</div>-->
          <!--<div>3</div>-->
        </div>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

<mat-card class="dashboard-card-content" *ngIf="order_companies">
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let company of order_companies ; last as isLast;">
        <h3 matLine> {{company.name}} </h3>
        <p matLine>
          <span style="color: darkgray">{{company.code}}</span>
          <span style="color: darkgray"> -- {{company.last_negotiation_date | date}} </span>
        </p>
        <div fxLayout="column" fxLayoutAlign="right stretch">
          <div>{{company.grade | number: '0.0-3'}}</div>
          <div>P/L: {{company.pl}}</div>
        </div>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-card>
</div>
